<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-第一个OC程序【掌握】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-BOOL类型【掌握】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-OC中增强for循环【演示】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-第一个OC类【掌握】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-OC中的方法【掌握】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-对象的存储细节【理解】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-函数与对象方法区别【理解】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-常见错误【理解】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-OC总结【掌握】.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18D045AC1A689FD9009AE377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D045BA1A68A8FE009AE377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D266561A68F6FD00ADA902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D266611A68FF7200ADA902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D2666C1A6907E400ADA902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D266771A690A3400ADA902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D266821A690EE400ADA902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D26FC61A68AD3F0032596A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D26FD11A68BFF30032596A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D26FDC1A68E5200032596A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
